@using X.PagedList
@using X.PagedList.Mvc.Common;
@using X.PagedList.Mvc.Core.Common;
@using X.PagedList.Mvc.Core.Fluent;
@using X.PagedList.Mvc.Core;
@model IPagedList<WebSurvey_Sales_CRM.Models.Employee>
@{
    Layout = "_Layout";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

<div class="container bg-light">
    <h2>Khảo sát nhân viên</h2>
    <a href="/admin/survey/IndexEnterprise">Khảo sát doanh nghiệp</a>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Họ tên</th>
                <th>Số điện thoại</th>
                <th>Email</th>
                <th>Địa chỉ</th>
                <th>Trạng thái</th>
                <th>Chức năng</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.Phone</td>
                        <td>@item.Email</td>
                        <td>@item.Address</td>
                        @if(@item.Status==1)
                        {
                            <td>Chưa duyệt</td>
                        }
                        else
                        {
                            <td>Đã duyệt</td>
                        }
                        <td>
                           
                            <a class="btn btn-sm btn-success p-2" href="/admin/survey/DetailEmployee/@item.Id">Chi tiết</a>
                            <a class="btn btn-sm btn-danger p-2" href="/admin/survey/DeleteEmployee/@item.Id">Xóa</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="7">Không có mẫu khảo sát nào</td>
                </tr>
            }

            <div class="pagination-container">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions { Display = PagedListDisplayMode.IfNeeded, DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded, DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded, DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded, DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded })
            </div>
        </tbody>
       
    </table>
    

</div>